.container01 {
  background-color: #80F329;
  height: 300px;
}

#heading01 {
  color: white;
  text-align: center;
  padding-top: 130px;
}

.card {
  margin-top: 50px;
  margin-bottom: 50px;
}

#hidden {
  display: none;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container02 {
  background-color: #B2BFA8;
  height: 250px;
}

#footerText {
  text-align: center;
  padding-top: 118px;
  color: white;
}